@import './base.less';

@time-line-prefix-cls: ~'@{root-prefix}';

.@{time-line-prefix-cls} {
  position: relative;
  background-color: @color-background;
  overflow: hidden;
  padding: 0;
  margin: 0;

  // 时间轴
  &-axis {
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
  }

  &-tick {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;

    &:before {
      content: ' ';
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 8px;
      width: 1px;
      background-color: @tick-minor-color;
      // transform: translate(-50%);
    }
  }

  &-tick-text {
    position: absolute;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    white-space: nowrap;
    user-select: none;
  }

  &-minor {
    color: @tick-minor-text-color;

    .@{time-line-prefix-cls}-tick-text {
      bottom: 12px;
      // transform: translate(-50%);
    }
  }

  &-major {
    color: @tick-major-text-color;
    font-weight: 600;

    .@{time-line-prefix-cls}-tick-text {
      top: 0;
      // transform: translate(-50%);
    }

    &:before {
      display: none;
    }
  }

  &-panel {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &-text {
    font-size: 12px;
    white-space: nowrap;
    user-select: none;
  }

  &-measure {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    visibility: hidden;
  }
}
